/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13.01.2018, 18:28:50
    Author     : sys.aleksander@grizzly.by
*/
.mt-t-1 {
  margin-top: 1em; }

.mt-t-2 {
  margin-top: 2em; }

.mt-t-3 {
  margin-top: 3em; }

.mt-t-4 {
  margin-top: 4em; }

.mt-t-5 {
  margin-top: 5em; }

m-b-1 {
  margin-bottom: 1em; }

m-b-2 {
  margin-bottom: 2em; }

m-b-3 {
  margin-bottom: 3em; }

m-b-4 {
  margin-bottom: 4em; }

m-b-5 {
  margin-bottom: 5em; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

main {
  flex: 1 0 auto; }

.footer-copyright .logo-foot {
  float: left;
  margin-right: 2em; }
.footer-copyright a {
  color: #fff;
  text-decoration: none; }

a {
  cursor: pointer; }

/*# sourceMappingURL=styles.css.map */
