
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
    float: none;
    width: 100%;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}
footer{
    display: block;
    float: none;
    text-align: left;
    width: 100%;
    background-color: #000;
    font-size: 1em;
    font-weight: bold;
    p{
        color: #fff;        
    }
    .copyrights{
            font-weight: normal;
        }
    a{
        text-decoration: none;
    }
    .text-center{
        text-align: center;
        margin: 0 auto;
        padding: 1em 0;
    }
}